html{
    scroll-behavior: smooth;
}
body{
   font-family: "Open Sans", Arial, sans-serif;
}
header{
    font-weight: bold;
    font-size:24px;
}
#main-doc{
    margin-right:20px;
}
#header{
    padding:10px 10px 20px 40px;
}
#navbar{
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  width:300px;
    border-right:2px solid #99A1A1;
}

#navbar a{
  display:block;
  text-decoration: none;
    color:#684E53;
    padding:10px 10px 10px 40px;
}

.border_bottom{
    border-bottom:1px solid #99A1A1;
}
.main-section{
  z-index:0;
  margin-left:350px;
    margin-bottom: 20px;
    margin-top:20px;
}
.main-section p{
    margin-left:20px;
}
.main-section ul{
    margin-left:30px;
}

code{
    display: block;
    background-color:#F7F7F7;
    padding:10px;
    margin-left:30px;
    line-height: 2;
}

@media(max-width:600px){
  #navbar{
      height:200px;
      position:static;
      z-index:1;
      width:100%;
        overflow: auto;
      white-space: nowrap;
  }
  
  .main-section{
    margin-top:50px;
    margin-left:0px;
  }
}